<p>Welcome to the game of HangMan!</p>

<ul>
<% @string_answer.each do |char|%>
	<li>
	<p class="word"><%=char%> </p>
	</li>
<%end%>
</ul>
<!-- #create a text box for the user to make inputs
#have a submit button to submit the post -->

<form action = "/" method="post">
	<input name="guess" placeholder="enter a character", type="text" maxlength=1 value="<%=params[:guess]%>">
	<fieldset class="actions">
		<input type="submit" values="Save">
	</fieldset>
</form>
