<p>Welcome to the game of HangMan!</p>

<ul>
<% @string_answer.each do |char|%>
	<li>
	<p class="word"><%=char%> </p>
	</li>
<%end%>
</ul>
<!-- #create a text box for the user to make inputs
#have a submit button to submit the post -->

<p>current letters guessed</p>

<ul>
<% session[:incorrect_letters].each do |char|%>
	<li>
	<p class="word"><%=char%> </p>
	</li>
<%end%>
</ul>

<p> You have <%=session[:attempts]%> attempts left</p>

<form action = "/" method="post">
	<input type="inherit" name="guess" placeholder="enter a character", type="text" maxlength=1 value="<%=params[:guess]%>">
		<input type="submit" values="Save">
</form>

<a href= "/new" title="Submit Link" contenteditable="false">Start Over?</a>
